# Compiled output
dist/
build/
node_modules/

backend/node_modules/
backend/dist/
# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS-specific
.DS_Store

# Test coverage
coverage/
.nyc_output/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode settings (ignore everything in .vscode except these files)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment files
.env*
*.pem

# Temporary folders
.temp/
.tmp/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Node.js diagnostic reports
report.*.json

# Yarn Plug'n'Play
.pnp/
.pnp.*
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/versions/

# Next.js build output
.next/
out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel deployment folder
.vercel/
